@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Oxygen:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#cta {

    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    #cta {
        background-image: url('../images/bg-simplify-section-mobile.svg');
    }
}

#menu,
#ham,
#cross {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}